page-list{

    .main{
        background-image: url('../../assets/imgs/red3.jpg');
        background-repeat: no-repeat;
        background-size: 30cm;
    }

    .list{
        background-color: rgba(252, 252, 252, 0.11);
    }
}